footer
    section.copy
        p © 2022 — Hello, I´m Nora Night.
    section.networks
        ul.networks--list
            li.networks--item
                img(src="../assets/icons/icons-spotify.png", alt="Icono de la aplicación Spotify")
            li.networks--item
                img(src="../assets/icons/icons-instagram.png", alt="Icono de la aplicación Instagram")
            li.networks--item
                img(src="../assets/icons/icons-twitter.png", alt="Icono de la aplicación Twitter")
            li.networks--item
                img(src="../assets/icons/icons-facebook.png", alt="Icono de la aplicación Facebook")
            li.networks--item
                img(src="../assets/icons/icons-telegrama.png", alt="Icono de la aplicación Telegram")