header
    figure.headerLogo
        a(href="index.html")
            img.logoIcon(src="../assets/icons/logo_podcast_nora.png", alt="Logo del website de podcast")
    nav.headerMenu
        ul.menuIcon
            li.menuIcon__item
                a(href="")
                    img(src="../assets/icons/icons-micro.png", alt="Icono de un micro para la sección de Episodios")
            li.menuIcon__item
                a(href="")
                    img(src="../assets/icons/icons-conexion.png", alt="Icono de las siluetas de personas para la sección de Nosotros")
            li.menuIcon__item
                a(href="")
                    img(src="../assets/icons/icons-charla.png", alt="Icono de una persona hablando para la sección de Entrevistas")
            li.menuIcon__item
                a(href="")
                    img(src="../assets/icons/icons-noticias.png", alt="Icono de un periódico para la sección de Tópicos")
        ul.menuList
            li.menuList__item
                a(href="") Episodios
            li.menuList__item
                a(href="") Nosotros
            li.menuList__item
                a(href="") Entrevistas
            li.menuList__item
                a(href="") Tópicos
