
<footer>
  <section class="copy">
    <p>© 2019— Hello blue pale dot</p>
  </section>
  <section class="networks">
    <ul>
      <li><img src="../assets/icons/icons-spotify.png" alt="Icono de la aplicación Spotify"/><img src="../assets/icons/icons-instagram.png" alt="Icono de la aplicación Instagram"/><img src="../assets/icons/icons-twitter.png" alt="Icono de la aplicación Twitter"/><img src="../assets/icons/icons-facebook.png" alt="Icono de la aplicación Facebook"/><img src="../assets/icons/icons-telegrama.png" alt="Icono de la aplicación Telegram"/></li>
    </ul>
  </section>
</footer>