<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Podcast Channel</title>
  </head>
  <body>
    <header>
      <figure class="headerLogo"><a href="index.html"><img class="logoIcon" src="../assets/icons/logo_podcast_nora.png" alt="Logo del website de podcast"></a></figure>
      <nav class="headerMenu">
        <ul class="menuIcon">
          <li class="menuIcon__item"><a href=""><img src="../assets/icons/icons-micro.png" alt="Icono de un micro para la sección de Episodios"></a></li>
          <li class="menuIcon__item"><a href=""><img src="../assets/icons/icons-conexion.png" alt="Icono de las siluetas de personas para la sección de Nosotros"></a></li>
          <li class="menuIcon__item"><a href=""><img src="../assets/icons/icons-charla.png" alt="Icono de una persona hablando para la sección de Entrevistas"></a></li>
          <li class="menuIcon__item"><a href=""><img src="../assets/icons/icons-noticias.png" alt="Icono de un periódico para la sección de Tópicos"></a></li>
        </ul>
        <ul class="menuList">
          <li class="menuList__item"><a href="">Episodios</a></li>
          <li class="menuList__item"><a href="">Nosotros</a></li>
          <li class="menuList__item"><a href="">Entrevistas</a></li>
          <li class="menuList__item"><a href="">Tópicos</a></li>
        </ul>
      </nav>
    </header>
    <footer>
      <section class="copy">
        <p>© 2022 — Hello, I´m Nora Night.</p>
      </section>
      <section class="networks">
        <ul class="networks--list">
          <li class="networks--item"><img src="../assets/icons/icons-spotify.png" alt="Icono de la aplicación Spotify"></li>
          <li class="networks--item"><img src="../assets/icons/icons-instagram.png" alt="Icono de la aplicación Instagram"></li>
          <li class="networks--item"><img src="../assets/icons/icons-twitter.png" alt="Icono de la aplicación Twitter"></li>
          <li class="networks--item"><img src="../assets/icons/icons-facebook.png" alt="Icono de la aplicación Facebook"></li>
          <li class="networks--item"><img src="../assets/icons/icons-telegrama.png" alt="Icono de la aplicación Telegram"></li>
        </ul>
      </section>
    </footer>
  </body>
</html>